body{
	background-color: snow;
}

.jumbotron{
	/*background-image: url(http://cloudlightfpv.com/images/bebop/banner.jpg);*/
	background-color: navy;
	color: white;
	/*width: 100%*/;
	/*margin: auto;*/

}

.mySlides{
	width: 90%;
	margin: auto;
}

.exampleInputPassword1{
	color: royalblue;
}
.form-group{
	color: royalblue;
}
.form-check{
	color: royalblue;
}
.form-required{
	color: red !important;
}

footer{
	text-align: center;
	background: navy;
	color: white;
	left: 0;
	bottom: 0;
	width: 100%;
	position: fixed; 
}

/*#foot{
	width: 200px;
}	*/